##
## Licensed to Marvelution under one or more contributor license
## agreements.  See the NOTICE file distributed with this work
## for additional information regarding copyright ownership.
## Marvelution licenses this file to you under the Apache License,
## Version 2.0 (the "License"); you may not use this file except
## in compliance with the License.
## You may obtain a copy of the License at
##
##  http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied. See the License for the
## specific language governing permissions and limitations
## under the License.
##

#macro (fieldHeader $label)
<tr>
	<td class="fieldLabelArea" style="width: 40%">$label</td>
	<td class="fieldValueArea">
#end
#macro (fieldFooter)
	</td>
</tr>
#end

<html>
<head>
	<title>$i18n.getText("hudson.configuration.header.title")</title>
	<meta name="decorator" content="admin"/>
	<meta name="admin.active.section" content="admin_plugins_menu/hudson-section">
	<meta name="admin.active.tab" content="hudson_plugin_config">
</head>

<body id="jira" class="aui-layout aui-style-default page-type-admin">
#set($i18n = $action)
<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="ConfigurePlugin.jspa">
<table class="jiraform maxWidth">
<tbody>
	<tr class="titlerow">
		<td colspan="2" class="jiraformheader">
			<h3 class="formtitle">$i18n.getText("hudson.configuration.title")</h3>
		</td>
	</tr>
	<tr class="descriptionrow">
		<td colspan="2" class="jiraformheader">
			<div class="desc-wrap">$i18n.getText("hudson.configuration.description")</div>
		</td>
	</tr>
	#fieldHeader ($i18n.getText("hudson.configuration.hide.unassociated.hudson.tabs"))
	<input type="radio" value="true" name="hideUnassociatedHudsonTabs" #if (${hideUnassociatedHudsonTabs}) checked #end> $i18n.getText("hudson.configuration.hide")
	&nbsp;
	<input type="radio" value="false" name="hideUnassociatedHudsonTabs" #if (!${hideUnassociatedHudsonTabs}) checked #end> $i18n.getText("hudson.configuration.always.show")
	#fieldFooter ()
	#fieldHeader ($i18n.getText("hudson.configuration.show.if.user.member.of.usergroup.or.projectrole"))
	#set($selectedOption = $action.getShowIfUserMemberOfUsergroupAsCollection())
	<b>$i18n.getText("hudson.configuration.usergroups")</b><br />
	<select name="showIfUserMemberOfUsergroup" multiple size="5">
		#foreach($group in $groups)
		<option value="$group.name" #if ($selectedOption.contains($group.name)) selected #end>$group.name</a>
		#end
	</select>
	<br />
	#set($selectedOption = $action.getShowIfUserMemberOfProjectRoleAsCollection())
	<b>$i18n.getText("hudson.configuration.projectroles")</b><br />
	<select name="showIfUserMemberOfProjectRole" multiple size="5">
		#foreach($role in $projectRoles)
		<option value="$role.id" #if ($selectedOption.contains($role.id.toString())) selected #end>$role.name</a>
		#end
	</select>
	#fieldFooter ()
	#fieldHeader ($i18n.getText("hudson.configuration.show.if.issue.of.issuetype"))
	#set($selectedOptions = $action.getShowIfIssueOfIssuetypeAsCollection())
	<select name="showIfIssueOfIssuetype" multiple size="5">
		#foreach($issueType in $issueTypes)
		<option value="$issueType.id" #if ($selectedOptions.contains($issueType.id)) selected #end>$issueType.name</option>
		#end
	</select>
	#fieldFooter ()
	#fieldHeader ($i18n.getText("hudson.configuration.filter.hudson.builds"))
	<input type="radio" value="true" name="filterHudsonBuilds" #if (${filterHudsonBuilds}) checked #end> $i18n.getText("common.words.on")
	&nbsp;
	<input type="radio" value="false" name="filterHudsonBuilds" #if (!${filterHudsonBuilds}) checked #end> $i18n.getText("common.words.off")
	#fieldFooter ()
	#fieldHeader ($i18n.getText("hudson.configuration.use.time.past.date.strings"))
	<input type="radio" value="true" name="timePastDateStrings" #if (${timePastDateStrings}) checked #end> $i18n.getText("common.words.on")
	&nbsp;
	<input type="radio" value="false" name="timePastDateStrings" #if (!${timePastDateStrings}) checked #end> $i18n.getText("common.words.off")
	#fieldFooter ()
	#fieldHeader ($i18n.getText("hudson.configuration.max.builds.per.request"))
	<input type="text" size="20" name="maxBuildsPerRequest" value="$!maxBuildsPerRequest" />
	#fieldFooter ()
	<tr class="buttons-container">
		<td class="jiraformfooter">&nbsp;</td>
		<td colspan="1">
			<div class="aui-toolbar form-buttons noprint">
				<div class="toolbar-group">
					<span class="toolbar-item">
						<input type="submit" name=" $i18n.getText("common.forms.update") "
							value=" $i18n.getText("common.forms.update") " id="add_submit" accesskey="s"
							title="Press Ctrl+Alt+s to submit form" class="toolbar-trigger ">
					</span>
				</div>
				<div class="toolbar-group">
					<span class="toolbar-item toolbar-item-link">
						<input id="cancelButton" class="toolbar-trigger" type="button" accesskey="`"
							title="$i18n.getText("common.forms.cancel") (Ctrl+Alt + `)" name="ConfigurePlugin.jspa"
							value="$i18n.getText("common.forms.cancel")" onclick="location.href='ConfigurePlugin.jspa'">
					</span>
				</div>
			</div>
		</td>
	</tr>
</tbody>
</table>
</form>
</body>
</html>
